trigger:
- main

pool:
  name: Default  
stages:
- stage: Build
  jobs:
  - job: Build
    displayName: 'Build & Push via Local Docker'
    steps:
    - checkout: self


    - script: |
        echo "Building Docker image locally..."
        docker build -t helloworld:$(Build.BuildId) .
      displayName: 'Local Docker Build'


    - script: |
        echo "Tag and push image to ACR..."
        docker tag helloworld:$(Build.BuildId) polingassignment2.azurecr.io/helloworld:$(Build.BuildId)
        docker push polingassignment2.azurecr.io/helloworld:$(Build.BuildId)
      displayName: 'Local Docker Push'


- stage: Deploy
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: 'Deploy using local kubectl'
    steps:
    - checkout: self

    
    - script: |
        echo "Updating deployment..."
        kubectl set image deployment/helloworld helloworld=polingassignment2.azurecr.io/helloworld:$(Build.BuildId)
      displayName: 'Update Deployment Image'


    - script: |
        echo "Applying manifests..."
        kubectl apply -f manifests/deployment.yml
        kubectl apply -f manifests/service.yml
      displayName: 'kubectl apply'
